<h1 class = 'general_header'><%= t('.address') %> </h1>
<br>
<div class = 'button_page'>
  <%= button_to t('.main_page'), general_path, method: :get,
      class:"page_button", params: { lang: I18n.locale }
   %>
</div>

<p>
<% if @addresses.empty? %>
  <table class="address_table">
    <td class = 'th_result'><%= t('.no_address') %></td>
    </table>
  <div class = 'block_address_button'>
    <%= button_to t('.create'), new_address_path,
       method: :get, class:"address_button", params: { lang: I18n.locale }
    %>
  </div>  
<% else %>
  <table class="address_table">
    <td class = 'th_result'><%= @addresses[0].address %></td>
  </table>
  <div class = 'block_address_button'>
    <%= button_to t('.edit'), edit_address_path(@addresses[0]),
       method: :get, class:"address_button", params: { lang: I18n.locale }
    %>
    <%= button_to t('.delete'), address_path(@addresses[0]),
       method: :delete, class:"address_button", params: { lang: I18n.locale }
    %>
  </div>
<% end %>