<div class = 'general_index'>

  <h1><%= t('.header') %> </h1>

  <div class = 'block_button'>
    <%= button_to t('.new_test'), new_test_path, method: :get, class:"gen_button", params: { lang: I18n.locale } %>
    <br>
    <%= button_to t('.find_test'), find_test_path, method: :get, class:"gen_button", params: { lang: I18n.locale } %>
    <br>
    <%= button_to t('.codes'), codes_path, method: :get, class:"gen_button", params: { lang: I18n.locale } %>
    <br>
    <%= button_to t('.address'), addresses_path, method: :get, class:"gen_button", params: { lang: I18n.locale } %>
  </div>
</div>


