<h1 class = 'general_header'><%= t('.header') %> </h1>

<div class = 'button_page'>
  <%= button_to t('.main_page'), general_path, method: :get,
      class:"page_button", params: { lang: I18n.locale }
   %>
   <br>
  <%= button_to t('.find'), find_test_path, method: :get,
      class:"page_button", params: { lang: I18n.locale }
  %>
</div>

<% if @tests.nil? %>
  <h2 class="no_result"><%= t('.no_find') %></h2>
<% else %>
  <%= render 'result_find', resource: @tests %>
<% end %>