<%= form_with model: @test, local: true do |form| %>
  <%= render 'shared/errors', resource: @code %>
  <p>
    <%= form.label :marker %><br>
    <%= form.text_field :marker, id: :test_marker%>
  </p>

  <p>
    <%= form.label :configuration_number %><br>
    <%= form.text_field :configuration_number, id: :test_configuration_number %>
  </p>

  <p>
    <%= form.label :fluid %><br>
    <%= form.text_field :fluid, id: :test_fluid %>
  </p>

  <p>
    <%= form.label :header %><br>
    <%= form.text_field :header, id: :test_header %>
  </p>

  <p>
    <%= form.label :production_date %><br>
    <%= form.date_field :production_date, id: :test_production_date %>
  </p>

   <p>
    <%= form.label :testing_date %><br>
    <%= form.date_field :testing_date, id: :test_testing_date %>
  </p>
  <p>

    <%= form.label :cartridge_type %><br>
    <%= form.text_area :cartridge_type, id: :test_cartridge_type %>
  </p>

  <p>
    <%= form.label :configuration_text %><br>
    <%= form.text_area :configuration_text, id: :test_configuration_text %>
  </p>

  <p>
    <%= form.label :reagent %><br>
    <%= form.text_area :reagent, id: :test_reagent %>
  </p>

  <p>
    <%= form.label :conclusion %><br>
    <%= form.text_area :conclusion, id: :test_conclusion %>
  </p>

  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description, id: :test_description %>
  </p>
  

  <p><%= form.submit %><br></p>

  <% end %>