<div class = 'show_test'>
<%= button_to t('.main_page'), general_path, method: :get, class:"page_button", params: { lang: I18n.locale } %>

<p class = "h_result"><%= @test.testing_date %>  <%= @test.header %> от <%= @test.production_date %> </p>
<p class = "b_desc"><%= t('.configuration_num') %> <%= @test.configuration_number %></p>
<p class = "u_desc"><b><%= t('.cartridge_type') %></b> <%= @test.cartridge_type %></p>
<p class = "u_desc"><b><%= t('.configuration') %></b> <%= @test.configuration_text %></p>
<p class = "u_desc"><b><%= t('.reagents') %></b> <%= @test.reagent %></p>
<p class = "u_desc"><b><%= t('.solution') %></b> <%= @test.fluid %></p>
<% if !@test.description.empty? %>
<p class = "u_desc"><b><%=t('.description')%></b> <%= @test.description %></p>
<% end %>
<p class = "u_desc"><b><%=t('.user')%></b> <%= @test.user.last_name %> <%= @test.user.first_name %></p>


<% if @result_test.nil? %>
  <%= t('.no_data') %>  
<% else %>
  <table class="result_table">
    <col width="50">
    <col width="100">
    <col width="80">
    <col width="80">
    <col width="80">
    <col width="80">
    <tr>
    <th class = 'th_result'>№</th>
    <th class = 'th_result'><%=t('.devices_id')%></th>
    <th class = 'th_result'><%= @result_test['name_channel_1'].upcase %></th>
    <th class = 'th_result'><%= @result_test['name_channel_2'].upcase %></th>
    <th class = 'th_result'><%= @result_test['name_channel_3'].upcase %></th>
    <th class = 'th_result'><%= @result_test['name_channel_4'].upcase %></th>
  </tr>

    <% i = 1%>
    <% @result_test['devices'].each do |key, test| %>
      <tr>
        <td class = 'th_result'><%= i %></td>
        <td class = 'th_result'><%= key %></td>
        <td class = 'th_result'><%= test['time_channel_1'] %></td>
        <td class = 'th_result'><%= test['time_channel_2'] %></td>
        <td class = 'th_result'><%= test['time_channel_3'] %></td>
        <td class = 'th_result'><%= test['time_channel_4'] %></td>
        <% i += 1 %>
      </tr>
    <% end %>
</table>
<p>
<table class="result_table">
  <col width="100">
  <col width="100">
  <col width="100">
  <col width="100">
  <col width="100">
  <col width="100">
  <col width="100">
  <col width="100">
  <col width="100">
  <col width="100">
  <col width="100">
  <col width="100">
  <tr>
    <th colspan="3" class = 'th_result' ><%= @result_test['name_channel_1'].upcase %></th>
    <th colspan="3" class = 'th_result' ><%= @result_test['name_channel_2'].upcase %></th>
    <th colspan="3" class = 'th_result' ><%= @result_test['name_channel_3'].upcase %></th>
    <th colspan="3" class = 'th_result' ><%= @result_test['name_channel_4'].upcase %></th>
  </tr>
  <tr>
    <th class = 'th_result'><%=t('.max')%></th>
    <th class = 'th_result'><%=t('.min')%></th>
    <th class = 'th_result'><%=t('.average')%></th>
    <th class = 'th_result'><%=t('.max')%></th>
    <th class = 'th_result'><%=t('.min')%></th>
    <th class = 'th_result'><%=t('.average')%></th>
    <th class = 'th_result'><%=t('.max')%></th>
    <th class = 'th_result'><%=t('.min')%></th>
    <th class = 'th_result'><%=t('.average')%></th>
    <th class = 'th_result'><%=t('.max')%></th>
    <th class = 'th_result'><%=t('.min')%></th>
    <th class = 'th_result'><%=t('.average')%></th>
  </tr>
  <tr>
    <td class = 'th_result'><%= @result_test['max_channel_1'] %></td>
    <td class = 'th_result'><%= @result_test['min_channel_1'] %></td>
    <td class = 'th_result'><%= @result_test['average_channel_1'].round(2) if !@result_test['average_channel_1'].nil? %></td>
    <td class = 'th_result'><%= @result_test['max_channel_2'] %></td>
    <td class = 'th_result'><%= @result_test['min_channel_2'] %></td>
    <td class = 'th_result'><%= @result_test['average_channel_2'].round(2) if !@result_test['average_channel_2'].nil? %></td>
    <td class = 'th_result'><%= @result_test['max_channel_3'] %></td>
    <td class = 'th_result'><%= @result_test['min_channel_3'] %></td>
    <td class = 'th_result'><%= @result_test['average_channel_3'].round(2) if !@result_test['average_channel_3'].nil? %></td>
    <td class = 'th_result'><%= @result_test['max_channel_4'] %></td>
    <td class = 'th_result'><%= @result_test['min_channel_4'] %></td>
    <td class = 'th_result'><%= @result_test['average_channel_4'].round(2) if !@result_test['average_channel_4'].nil? %></td>
  </tr>
  
</table>

<% if !@device_graphs.nil? %>
<% @device_graphs.each do |key, device| %>
  <p class = 'name_graph'> <%=t('.devices_id')%> <%= key %> </p>
  <div class = 'graph'>
  <%= eval(device)%>
</div>
<% end %>
<% end %>

<% if !@common_graph.nil? %>
<p class = 'name_graph'> <%=t('.com_graph')%></p>
<% for j in (1..4) %>
  <% if !@common_graph[j].empty? %>
    <p class = 'name_graph'> <%= @common_graph[j+4] %> </p>
    <div class = 'graph'>
      <%= eval(@common_graph[j])%>
    </div>
  <% end %>
<% end %>
<% end %>

<% end %>
</div>

<% @test.comments.each do |comment| %>
  <%= comment.body %>
<% end %>

